:root {
  --primary: #9dc183;
  --bg: #ffffff;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: 10rem;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #ffffff;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 7%;
  background-color: #cc744c;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #ffd000;
  font-family: "Lemon", cursive;
}

.navbar .navbar-logo span {
  font-size: 1.5rem;
  color: #f3e9d0;
  font-style: italic;
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: #dfffc8;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: #f3e9d0;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: #e8d696;
}

#hamburger-menu {
  display: none;
}

/*hero section*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/33.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 48%;
  bottom: 0;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 70rem;
}

.hero .content h1 {
  font-size: 3rem;
  color: #6b4e3c;
  text-shadow: #ffe4c8;
  line-height: 1.2;
  text-align: right;
}

.hero .content h1 span {
  color: #9dc183;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.2;
  font-weight: 100;
  text-shadow: 1px 1px 3px #010101;
  mix-blend-mode: difference;
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #5f4738;
  background-color: #ffe4c8;
  border-radius: 0.5rem;
}

/*about section*/
.about,
.menu,
.contact {
  color: #3c5847;
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: right;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 0 1 40rem;
  object-position: center;
}

.about .row .about-img img {
  width: 100;
}

.about .row .content {
  flex: 1 1 30rem;
  padding: 0 0rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #cf7d51;
}

.about .row .content p {
  margin-bottom: 0.8;
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 1.6;
  text-align: justify;
}

/*menu sect*/
.menu h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 200;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu .row .menu-card {
  text-align: center;
  padding-bottom: 1rem;
}

.menu .row .menu-card-img {
  border-radius: 40%;
  width: 35%;
}

.menu .row .menu-card .menu-card-tittle {
  margin: 1rem auto 0.5rem;
}

/*contact sec*/
.contact h2 {
  margin-bottom: 1rem;
  text-align: left;
}

.contact h2 p {
  text-align: left;
  max-width: 20rem;
  margin: auto;
  font-weight: 200;
  line-height: 1rem;
}

.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: #a68b67;
}

.contact .row .map {
  flex: 1 1 50rem;
  width: 50%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 30rem;
  padding: 2rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  color: #ffffff;
  text-align: center;
  margin-top: 2rem;
  background-color: #ddbb61;
  padding-left: 2rem;
  border: 1px solid #ae8866;
}

.contact .row form .input-group input {
  width: 30%;
  padding: 1rem;
  font-size: 1.6rem;
  background: none;
  color: #ffffff;
}

.contact .row form .btn {
  margin-top: 2.3rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #ffffff;
  font-size: 1.7rem;
  background-color: #cf8e61;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6%;
}

/*footer*/
footer {
  background-color: #987653;
  text-align: center;
  padding: 1rem 0;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

footer .sosials {
  padding: 1rem 0;
}

footer .sosials a {
  color: #ffffff;
  margin: 1rem;
}

footer .sosials a:hover,
footer .links a:hover {
  color: #e8d696;
}

footer .links {
  margin-bottom: 1.5rem;
}
footer .links a {
  color: #ffffff;
  padding: 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #ddbb61;
  font-weight: bold;
}

/*media queries*/

/*laptop*/
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/*tablet*/
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #3c5847;
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    color: #9dc183;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 25rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about.row .content p {
    font-size: 1.5rem;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  .about .row .contact p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/*mobile phone*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
